# .NET
**/bin/
**/obj/
.vs/
*.user
*.suo

# Python
.venv/
__pycache__/
*.pyc
*.pyo

# Flutter / Dart
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/pubspec.lock

# Node / React
**/node_modules/
**/.next/
**/dist/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
~$*

# Logs & Databases
**/logs/
*.log
*.db
*.sqlite

# Environment Files
.env
.env.*
!.env.example